*{
    box-sizing: border-box;
}

    
.work-sans {
  font-family: "Work Sans", sans-serif;
  
}

/* shared style */

.flex{
    display: flex;
}
.three-color{
color: #3E3E3E;
}
.max{
    max-width: 1150px;
    margin: 0 auto;
}
/* commons styles */

/* Banner style */
.banner{
   justify-content: space-between;
   margin-top: 50px;
}

.banner-img{
    
    width: 426px;
    height: auto;
    
}
.banner-img img{
    width: 100%;
    height: 100%;

}
.banner-text{
    max-width: 540px;
   
    
}
.primary-btn{
    max-width: max-content;
    padding: 20px 37px;
    border-radius: 6px;
    margin-top: 19px;
    margin-bottom: 20px;
    background-color: #FF5959;
    color: #ffffff;
    font-size: 1.10rem;
    border: none;
    box-shadow: 5px 5px rgb(231, 224, 210,0.5);

}
.section-heading{
    font-size: 4rem;
    border-left: 5px solid #FF5959;
    border-radius: 5px;
    padding-left:10px ;
}
.section-heading span{
    color:rgb(247, 161, 2,80%)
}
.banner-text p{
    line-height: 27px;
    font-size: 1.20rem;
}
/* mission style */
.mission{
    text-align: center;
}
.mission h1{
    line-height: 70px;
    font-size: 3rem;
}
#year{
    color: orange;
}
.card-container{
    gap: 15px;
}
.card{
   
    max-width: 360px;
    max-height: 376px;
    text-align: left;
    padding: 30px;
    border-radius: 26px;
    background-color: rgba(79, 157, 166, 0.1);
  
}
.card h4{
    font-size: 1.25rem;
    font-weight: 600;
}
.card-1 h4{
     font-size: 1.25rem;
    font-weight: 600;
    margin-top: 16.5px;

}
.card-2{
   
     max-width: 360px;
    max-height: 376px;
    text-align: left;
    padding: 30px;
    border-radius: 26px;
   background-color: rgba(255, 244, 214, 1);
}
.card-2 img{

    width: 40%;
}
.card-container p{
    color: #6d6d6d;
}
.card-container .card-2 h4{
      font-size: 1.25rem;
    font-weight: 600;
    margin-top: 16.5px;
    margin-bottom: 20px;

}

.card img{
    width: 40%;
    
    
}
.card-1{
  
    max-width: 360px;
    max-height: 376px;
    text-align: left;
    padding: 30px;
    border-radius: 26px;
    background-color: rgba(255, 89, 89, 0.1)        ;
}
.card-1 img{
    width: 40%;
  
}
.card,.card-1,.card-2{
    box-shadow: 0px 4px 4px rgb(10, 2, 2,25%);
}
/* develop */
#develop-section{
    margin-top: 100px;
}

/* responsive design */

/* for mobile */
@media screen and (max-width:700px){
    .banner,
    .card-container{
       flex-direction: column;
       align-items: center;
    }
    .card-container{
   
    }
    .card,.card-1,.card-2{
        max-width: 70%;
        text-align: center;
    }
    .banner-img{
        
        max-width: 90%;
        
    }
    .banner-img img{
        
        
        
        
    }

}
@media screen and (min-width:700px) and (max-width:1150px) {
    .banner,
    .card-container{
       flex-direction: column;
       align-items: center;
    }
    .banner{
        max-width: 70%;
        margin: 0 auto;
    }
    .banner-img img{
        max-width: 90%;
    }
 .card-container{
    
    max-width: 900px;
    margin: 0 auto;
 }
 .card{
    max-width: 70%;
    text-align: center;
    padding-bottom: 200px;
     

 }
 .card p{
    max-width: 400px;
    margin: 0 auto;
    
 }
 .card img{
    max-width: 30%;
 }
 /* card-1 */
  .card-1{
    max-width: 70%;
    text-align: center;
    padding-bottom: 200px;
   

 }
 .card-1 p{
    max-width: 400px;
    margin: 0 auto;
    
 }
 .card-1 img{
    max-width: 30%;
 }
 /* card-2 */
  .card-2{
    max-width: 70%;
    text-align: center;
    padding-bottom: 200px;
    

 }
 .card-2 p{
    max-width: 400px;
    margin: 0 auto;
    
 }
 .card-2 img{
    max-width: 30%;
 }
        
    
}