*{
    box-sizing: border-box;
}

    
.work-sans {
  font-family: "Work Sans", sans-serif;
  
}

/* shared style */

.flex{
    display: flex;
}
.three-color{
color: #3E3E3E;
}
.max{
    max-width: 1150px;
    margin: 0 auto;
}
/* commons styles */

/* Banner style */
.banner{
   justify-content: space-between;
   margin-top: 50px;
}

.banner-img{
    
    width: 426px;
    height: auto;
    
}
.banner-img img{
    width: 100%;
    height: 100%;

}
.banner-text{
    max-width: 540px;
   
    
}
.primary-btn{
    max-width: max-content;
    padding: 20px 37px;
    border-radius: 6px;
    margin-top: 19px;
    margin-bottom: 20px;
    background-color: #FF5959;
    color: #ffffff;
    font-size: 1.10rem;

}
.section-heading{
    font-size: 4rem;
    border-left: 5px solid #FF5959;
    border-radius: 5px;
    padding-left:10px ;
}
.section-heading span{
    color:rgb(247, 161, 2,80%)
}
.banner-text p{
    line-height: 27px;
    font-size: 1.20rem;
}

/* responsive design */

/* for mobile */
@media screen and (max-width:700px){
    .banner{
       flex-direction: column;
       align-items: center;
    }

}
@media screen and (min-width:700px) and (max-width:1150px) {
    .banner{
       flex-direction: column;
       align-items: center;
    }
}